dRowAudio Notes.rtf
dRowAudio Notes (Autosaved).rtf
build/
DerivedData/
Debug/
Release/
*.pbxuser
*.perspective
*.perspectivev3
*.pbxbtree
*.mode1v3
*.mode2v3
xcuserdata
*.suo
*.vcxproj.user
*.psd
.svn/
html/
docs/
dRowAudio_old/
juce_audio_basics/
juce_audio_devices/
juce_audio_formats/
juce_audio_processors/
juce_audio_utils/
juce_core/
juce_cryptography/
juce_data_structures/
juce_events/
juce_graphics/
juce_gui_basics/
juce_gui_extra/
juce_opengl/
Band Practice Assistant/
dRowAudio Demo_dev/
Tremolo_old
*.trak
.DS_Store
UnityProjectBuilderApp